.SignIn {
    text-align: center;

}

.SignInForm {
    /*border: red 2px solid;*/
    border: #DC965A 4px inset;
    background-color: #BEBEBE;
    border-radius: 20px;
    margin-left: 25%;
    width: 50%;
}

.button {
    margin: 5px;
    padding-right: 5px;
    padding-left: 5px;
    width: 70px;
    border: #C8C8C8 2px outset;
    background-color: #CFCFCF;
    display: inline-block;
}

.button:active{
    border-style: inset;
}

.SignIn h2 {
    color: #242325;
}

.SignIn input {
    background-color: #CFCFCF;
}

.SignIn input:required:valid {
    border-color: #A1FFA1;
}

.SignIn input:invalid {
    border-color: #FF7F7F;
}

.SignIn input:focus{
    outline: none;
}
.SignIn input:required:valid:focus {
    border-color: #242325;
    background-color: #A1FFA1;
}
.SignIn input:invalid:focus {
    border-color: #242325;
    background-color: #FF7F7F;
}

.form{

}