.navMenu ul {
    display: flex;
    margin: 0; /* Обнуляем значение отступов */
    padding: 10px; /* Значение полей */
    text-align: center;
}
.navMenu ul li {
    display: inline; /* Отображать как строчный элемент */
    margin: 3px; /* Отступ слева */
    padding: 5px; /* Поля вокруг текста */
    flex-basis: auto;
    flex-grow: 1;
    font-size: 25px;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: 1s;
}
.navMenu ul li :hover{
    background-color: navajowhite;
}

.navMenu {
    grid-area: navmenu;
    background-color: #DC965A;
    position: sticky;
    top: 60px;
}

.navMenu a {
    color: #454347;
    text-decoration: none;

}

.navMenu a.active {
    color: #242325;
    text-decoration: underline;

}