.navMenu ul {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;

}

.navMenu ul li {
    padding: 15px;
    display: block;
    flex-basis: auto;
    flex-grow: 1;
    font-size: 25px;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: 200ms;
}

.navMenu ul :hover{
    background-color: #D9A47C;
}

.navMenu {
    grid-area: navmenu;
    background-color: #DC965A;
    position: sticky;
    top: 60px;
}

.navMenu a {
    color: #454347;
    text-decoration: none;

}

.navMenu a.active {
    color: #242325;
    text-decoration: underline;

}

.navMenu li ul {
    position: absolute;
    display: none;
    width: 215px;
}

.navMenu li ul li{
    width: 100%;
    font-size: 18px;
    font-style: italic;
    background-color: #D9A47C;
}

.navMenu li ul li :hover{
    color: #242325;
}

.navMenu ul li{
    text-align: center;
}

.navMenu li:hover ul{
    display: block;
}
