.content {
    grid-area: content;
    background-color: #B3B3B3;
}

.warriorCard{
    border: #454347 3px solid;
    width: 256px;
    background-color: #BEBEBE;
    border-radius: 20px;
    color: #454347;

}

.annotation {
    border: #DC965A 4px inset;
    background-color: #BEBEBE;
    border-radius: 20px;
    margin: 15px;
}

.annotation div{
    margin-left: 5%
}

.warriors div {
    margin: 10px auto;
}

.annotation a {
    text-decoration: none;
    color: #454347;
}

.annotation div ol li {
    color: #454347;
    font-size: 18px;
}

.annotation div {
    color: #242325;
}

.annotation ol li:hover{
    text-decoration-line: underline;

}

.annotation p {
    font-size: 24px;
}