.LogIn {
    text-align: center;

}

.LogInForm {
    /*border: red 2px solid;*/
    border: #DC965A 4px inset;
    background-color: #BEBEBE;
    border-radius: 20px;
    margin-left: 25%;
    width: 50%;
}

.button {
    margin: 5px;
    width: 70px;
    border: #C8C8C8 2px outset;
    background-color: #CFCFCF;
}

.button:active{
    border-style: inset;
}

.LogIn h2 {
    color: #242325;
}

.LogIn input {
    background-color: #CFCFCF;
}

.LogIn input:required:valid {
    border-color: #A1FFA1;
}

.LogIn input:invalid {
    border-color: #FF7F7F;
}

.LogIn input:focus{
    outline: none;
}
.LogIn input:required:valid:focus {
    border-color: #242325;
    background-color: #A1FFA1;
}
.LogIn input:invalid:focus {
    border-color: #242325;
    background-color: #FF7F7F;
}

.ValidMes{
    color: #FF7F7F;
    font-size: 14px;
}

.form{

}